# python cache folder.
__pycache__

# vscode workspace file.
*.code-workspace

# vscode devcontainer and general setups.
*.devcontainer
*.vscode

# specific exceptions of vscode development files.
!vscode/*